In [3]:
import pandas as pd
import numpy as np
from functools import reduce

#data movies rotten tomatoes
data = pd.read_csv('rotten_tomatoes_movies.csv', usecols=[1,6,7,8,9,13,15,18])
#rename columns for first dataset
data.columns = ['title', 'genre', 'directors','writers','actors','studio_name','tomato_rating','audience_rating']
#dataset that contains budget
dataBudget = pd.read_csv('budget.csv', usecols=[0,1,6])
dataBudget.columns = ['budget', 'genres' , 'title']
#dataBudget.head(10)

#list of datasets
dfs = [data, dataBudget]
#merging the movies dataset with the budget dataset based on title
df_final = reduce(lambda left,right: pd.merge(left,right,on='title'), dfs)

#data: (title, genre, directors, writers, actors, studio name) labels: (tomoto_rating, audience rating, budget)
df_final = df_final.dropna()  #3920 before dropping null values -> 3830 after dropping those values
#df_final.shape
df_final.head()

,title,genre,directors,writers,actors,studio_name,tomato_rating,audience_rating,budget,genres
0,Percy Jackson & the Olympians: The Lightning T...,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",20th Century Fox,49,53.0,95000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""..."
1,Please Give,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",Sony Pictures Classics,86,64.0,3000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam..."
2,3:10 to Yuma,"Classics, Drama, Western",Delmer Daves,Halsted Welles,"Glenn Ford, Van Heflin, Felicia Farr, Leora Da...",Columbia Pictures,96,78.0,55000000,"[{""id"": 37, ""name"": ""Western""}]"
3,3:10 to Yuma,"Action & Adventure, Drama, Western",James Mangold,"Derek Haas, Halsted Welles, Michael Brandt","Russell Crowe, Christian Bale, Logan Lerman, D...",Lionsgate Films,89,86.0,55000000,"[{""id"": 37, ""name"": ""Western""}]"
4,Dark Water,"Art House & International, Horror, Mystery & S...",Hideo Nakata,"Hideo Hakata, Takashige Ichise, Yoshihiro Naka...","Hitomi Kuroki, Rio Kanno, Shigemitsu Ogi, Mire...",Toho Company Ltd,80,66.0,30000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name..."

In [4]:
#iterate through the actors column and split them by the ',' and put them in a list

#fastest way to get length
actorsLen = len(df_final.index) #3

#splitting cells into multiple lists
actorsList = df_final.actors.str.split(', ')

#create a list where actors will be stored
listOfActors = []

#ITERATE THROUGH ONE LIST
#for i in range(len(actorsList[0])):
    #txt = actorsList[0][i].split(', ')
    #print(txt)
   
    #Working --> adding actors
for i in range(len(actorsList)):
    try:
        for j in range(len(actorsList[i])):
            txt = actorsList[i][j].split(', ')
            #print(i)
            listOfActors += txt
            #print(txt)
    except KeyError:
        continue
                
#removing duplicates from listOfActors
setOfActors = list(set(listOfActors))

#len(listOfActors) #-> 141445
#len(setOfActors) #-> 82184

In [5]:
#json dataframe of actors and rating
import json
df_jsonActors = pd.read_json('actors.json')
jsonElem = df_jsonActors.assign(results = df_jsonActors.apply(lambda x: [x[['name','rating']].to_dict()], axis=1)).drop(['image_path','alternative_name','objectID', 'results'], axis=1).to_dict(orient='records')
len(jsonElem)

jsonElem[0]

#for i in range(len(jsonElem)):
   # if(jsonElem[i]['name'] == setOfActors[i]):
     #   print(jsonElem[i]['name'])
   #else:
        #print('not found')
counter = 0
actorsAndRating = []
#Iterating through setOfActors and JSON actors and try to find them - 
for i in range(len(setOfActors)):
    for j in range(len(jsonElem)):
        if(jsonElem[j]['name'] == setOfActors[i]):
            print(jsonElem[j])
            actorsAndRating.append(jsonElem[j])
            counter +=1
            print(counter)

#jsonElem[0]['rating']

{'name': 'Mark Hamill', 'rating': 856}
1
{'name': 'Gerard Butler', 'rating': 665}
2
{'name': 'Emily Watson', 'rating': 553}
3
{'name': 'Greg Kinnear', 'rating': 459}
4
{'name': 'Mia Kirshner', 'rating': 561}
5
{'name': 'Jason Clarke', 'rating': 515}
6
{'name': 'Anton Yelchin', 'rating': 656}
7
{'name': 'Jack Nicholson', 'rating': 517}
8
{'name': 'James Cameron', 'rating': 534}
9
{'name': 'Ian McKellen', 'rating': 532}
10
{'name': 'Joseph Gordon-Levitt', 'rating': 533}
11
{'name': 'Ornella Muti', 'rating': 488}
12
{'name': 'Bridget Fonda', 'rating': 486}
13
{'name': 'John Leguizamo', 'rating': 543}
14
{'name': 'Lucy Liu', 'rating': 1046}
15
{'name': 'Amy Poehler', 'rating': 530}
16
{'name': 'Malcolm McDowell', 'rating': 494}
17
{'name': 'Shelley Winters', 'rating': 479}
18
{'name': 'Carice van Houten', 'rating': 924}
19
{'name': 'Christopher Lambert', 'rating': 466}
20
{'name': 'Rutger Hauer', 'rating': 472}
21
{'name': 'Leonardo DiCaprio', 'rating': 624}
22
{'name': 'Keira Knightley', 'rating': 494}
23
{'name': 'Megan Fox', 'rating': 851}
24
{'name': 'Katey Sagal', 'rating': 517}
25
{'name': 'Joaquin Phoenix', 'rating': 598}
26
{'name': 'Jennifer Aniston', 'rating': 806}
27
{'name': 'Wentworth Miller', 'rating': 1579}
28
{'name': 'Ray Stevenson', 'rating': 525}
29
{'name': 'Julie Dreyfus', 'rating': 461}
30
{'name': 'Gwyneth Paltrow', 'rating': 525}
31
{'name': 'Naomie Harris', 'rating': 458}
32
{'name': 'Helen Hunt', 'rating': 485}
33
{'name': 'Colin Firth', 'rating': 792}
34
{'name': 'Susan Sarandon', 'rating': 500}
35
{'name': 'Arnold Schwarzenegger', 'rating': 1250}
36
{'name': 'Jessica Lange', 'rating': 475}
37
{'name': 'Forest Whitaker', 'rating': 913}
38
{'name': 'Kelly Overton', 'rating': 526}
39
{'name': 'Emile Hirsch', 'rating': 463}
40
{'name': 'Jessica Alba', 'rating': 621}
41
{'name': 'Bradley Cooper', 'rating': 494}
42
{'name': 'Matt Damon', 'rating': 520}
43
{'name': 'Naomi Watts', 'rating': 553}
44
{'name': 'Kim Basinger', 'rating': 610}
45
{'name': 'Izabella Miko', 'rating': 554}
46
{'name': 'Elisha Cook Jr.', 'rating': 459}
47
{'name': 'Valeria Golino', 'rating': 484}
48
{'name': 'Demi Moore', 'rating': 608}
49
{'name': 'Arielle Kebbel', 'rating': 299}
50
{'name': 'Colin Farrell', 'rating': 696}
51
{'name': 'Jason Segel', 'rating': 472}
52
{'name': 'Will Smith', 'rating': 492}
53
{'name': 'Denise Richards', 'rating': 707}
54
{'name': 'Carla Gugino', 'rating': 903}
55
{'name': 'Sacha Baron Cohen', 'rating': 515}
56
{'name': 'Ray Winstone', 'rating': 332}
57
{'name': 'Elisabeth Shue', 'rating': 458}
58
{'name': 'Kate Winslet', 'rating': 695}
59
{'name': 'Dabney Coleman', 'rating': 715}
60
{'name': 'Jon Voight', 'rating': 614}
61
{'name': 'Kirsten Dunst', 'rating': 858}
62
{'name': 'Rami Malek', 'rating': 855}
63
{'name': 'Felicity Jones', 'rating': 488}
64
{'name': 'Bryan Cranston', 'rating': 568}
65
{'name': 'Charlize Theron', 'rating': 1026}
66
{'name': 'Dakota Fanning', 'rating': 483}
67
{'name': 'Edward Furlong', 'rating': 624}
68
{'name': 'Olivia Wilde', 'rating': 675}
69
{'name': 'Sean Bean', 'rating': 684}
70
{'name': 'Seth MacFarlane', 'rating': 504}
71
{'name': 'Ben Affleck', 'rating': 674}
72
{'name': 'Meg Ryan', 'rating': 496}
73
{'name': 'Eva Mendes', 'rating': 609}
74
{'name': 'Olga Kurylenko', 'rating': 692}
75
{'name': 'Rachel McAdams', 'rating': 1519}
76
{'name': 'John Goodman', 'rating': 615}
77
{'name': 'Ice Cube', 'rating': 551}
78
{'name': 'Karl Urban', 'rating': 625}
79
{'name': 'Katie Holmes', 'rating': 486}
80
{'name': 'Michelle Williams', 'rating': 528}
81
{'name': 'Taron Egerton', 'rating': 560}
82
{'name': 'Pamela Anderson', 'rating': 456}
83
{'name': 'Salma Hayek', 'rating': 729}
84
{'name': 'Henry Winkler', 'rating': 664}
85
{'name': 'María Valverde', 'rating': 648}
86
{'name': 'C. Thomas Howell', 'rating': 332}
87
{'name': 'Carrie-Anne Moss', 'rating': 812}
88
{'name': 'Maria Bello', 'rating': 847}
89
{'name': 'Danny Glover', 'rating': 648}
90
{'name': 'Shane West', 'rating': 613}
91
{'name': 'Nicola Peltz', 'rating': 517}
92
{'name': 'Ioan Gruffudd', 'rating': 543}
93
{'name': 'Robin Williams', 'rating': 1139}
94
{'name': 'Nicholas Hoult', 'rating': 580}
95
{'name': 'Brad Pitt', 'rating': 961}
96
{'name': 'Jonah Hill', 'rating': 534}
97
{'name': 'Alexa PenaVega', 'rating': 646}
98
{'name': 'Gina Gershon', 'rating': 621}
99
{'name': 'Christopher Lee', 'rating': 580}
100
{'name': 'Kat Dennings', 'rating': 491}
101
{'name': 'Tyler Perry', 'rating': 655}
102
{'name': 'Noomi Rapace', 'rating': 672}
103
{'name': 'Dominic Cooper', 'rating': 712}
104
{'name': 'Harrison Ford', 'rating': 676}
105
{'name': 'Brigitte Nielsen', 'rating': 610}
106
{'name': 'Hugh Grant', 'rating': 498}
107
{'name': 'Dolph Lundgren', 'rating': 498}
108
{'name': 'Josh Duhamel', 'rating': 482}
109
{'name': 'Milla Jovovich', 'rating': 954}
110
{'name': 'Dougray Scott', 'rating': 560}
111
{'name': 'Kaley Cuoco', 'rating': 603}
112
{'name': 'Sean Connery', 'rating': 746}
113
{'name': 'Jennifer Connelly', 'rating': 992}
114
{'name': 'Kelly Hu', 'rating': 636}
115
{'name': 'Donnie Yen', 'rating': 853}
116
{'name': 'Kris Kristofferson', 'rating': 527}
117
{'name': 'Monica Bellucci', 'rating': 3956}
118
{'name': 'Daniel Radcliffe', 'rating': 743}
119
{'name': 'Evangeline Lilly', 'rating': 917}
120
{'name': 'Robert Downey Jr.', 'rating': 1077}
121
{'name': 'Lacey Chabert', 'rating': 776}
122
{'name': 'Kate Mara', 'rating': 585}
123
{'name': 'Charlotte Rampling', 'rating': 456}
124
{'name': 'George Clooney', 'rating': 706}
125
{'name': 'Erin Cummings', 'rating': 486}
126
{'name': 'Jeremy Irons', 'rating': 563}
127
{'name': 'John Hurt', 'rating': 721}
128
{'name': 'Cameron Diaz', 'rating': 612}
129
{'name': 'Tommy Lee Jones', 'rating': 837}
130
{'name': 'Tom Hiddleston', 'rating': 483}
131
{'name': 'Jack Black', 'rating': 806}
132
{'name': 'Tom Cruise', 'rating': 2237}
133
{'name': 'Kate Hudson', 'rating': 623}
134
{'name': 'Adam G. Sevani', 'rating': 465}
135
{'name': 'Emma Watson', 'rating': 619}
136
{'name': 'Diane Lane', 'rating': 700}
137
{'name': 'James Gandolfini', 'rating': 536}
138
{'name': 'Miles Teller', 'rating': 516}
139
{'name': 'Vincent Cassel', 'rating': 1190}
140
{'name': 'Mel Gibson', 'rating': 536}
141
{'name': 'Matthew McConaughey', 'rating': 873}
142
{'name': 'Danielle Panabaker', 'rating': 499}
143
{'name': 'Michael Caine', 'rating': 809}
144
{'name': 'Chris Hemsworth', 'rating': 1128}
145
{'name': 'Tommy Flanagan', 'rating': 518}
146
{'name': 'Nathan Fillion', 'rating': 578}
147
{'name': 'Rose Byrne', 'rating': 1526}
148
{'name': 'Stella Stevens', 'rating': 519}
149
{'name': 'Ashley Greene', 'rating': 793}
150
{'name': 'Hugh Keays-Byrne', 'rating': 502}
151
{'name': 'Anna Faris', 'rating': 727}
152
{'name': 'Colm Meaney', 'rating': 459}
153
{'name': 'Peter Dinklage', 'rating': 652}
154
{'name': 'Paul Bettany', 'rating': 466}
155
{'name': 'Jackie Chan', 'rating': 577}
156
{'name': 'James Coburn', 'rating': 459}
157
{'name': 'Aaron Paul', 'rating': 519}
158
{'name': 'Aishwarya Rai Bachchan', 'rating': 510}
159
{'name': 'Jennifer Lawrence', 'rating': 586}
160
{'name': 'Carmen Electra', 'rating': 692}
161
{'name': 'Zooey Deschanel', 'rating': 486}
162
{'name': 'Sophie Marceau', 'rating': 501}
163
{'name': 'Jean-Claude Van Damme', 'rating': 643}
164
{'name': 'Danny Trejo', 'rating': 743}
165
{'name': 'Anjelica Huston', 'rating': 474}
166
{'name': 'Rowan Atkinson', 'rating': 470}
167
{'name': 'Orlando Bloom', 'rating': 649}
168
{'name': 'George Takei', 'rating': 486}
169
{'name': 'Linda Fiorentino', 'rating': 1085}
170
{'name': 'Léa Seydoux', 'rating': 658}
171
{'name': 'Sylvester Stallone', 'rating': 892}
172
{'name': 'Amy Smart', 'rating': 485}
173
{'name': 'Katherine Heigl', 'rating': 880}
174
{'name': 'Drew Barrymore', 'rating': 502}
175
{'name': 'Sharon Stone', 'rating': 758}
176
{'name': 'Alexander Ludwig', 'rating': 494}
177
{'name': 'Quentin Tarantino', 'rating': 561}
178
{'name': 'Rene Russo', 'rating': 553}
179
{'name': 'Catherine Zeta-Jones', 'rating': 508}
180
{'name': 'Ewan McGregor', 'rating': 469}
181
{'name': 'Connie Nielsen', 'rating': 510}
182
{'name': 'Sienna Guillory', 'rating': 708}
183
{'name': 'Denzel Washington', 'rating': 468}
184
{'name': 'Ken Duken', 'rating': 525}
185
{'name': 'William Shatner', 'rating': 546}
186
{'name': 'Elijah Wood', 'rating': 530}
187
{'name': 'Luke Evans', 'rating': 556}
188
{'name': 'Catherine Missal', 'rating': 4875}
189

{'name': 'Al Pacino', 'rating': 666}
190
{'name': 'Richard Gere', 'rating': 873}
191
{'name': 'Claire Danes', 'rating': 616}
192
{'name': 'Leslie Bibb', 'rating': 481}
193
{'name': 'Lea Thompson', 'rating': 528}
194
{'name': 'Sebastian Stan', 'rating': 492}
195
{'name': 'Steve Martin', 'rating': 461}
196
{'name': 'Ian Somerhalder', 'rating': 461}
197
{'name': "Vincent D'Onofrio", 'rating': 569}
198
{'name': 'Carly Chaikin', 'rating': 457}
199
{'name': 'Jamie Foxx', 'rating': 537}
200
{'name': 'Renée Zellweger', 'rating': 460}
201
{'name': 'Robert Swenson', 'rating': 567}
202
{'name': 'Matthew Lillard', 'rating': 461}
203
{'name': 'Julia Stiles', 'rating': 734}
204
{'name': 'Famke Janssen', 'rating': 466}
205
{'name': 'Ron Howard', 'rating': 488}
206
{'name': 'Chris Pratt', 'rating': 882}
207
{'name': 'Pam Grier', 'rating': 522}
208
{'name': 'Cara Delevingne', 'rating': 537}
209
{'name': 'John Malkovich', 'rating': 700}
210
{'name': 'Ray Liotta', 'rating': 524}
211
{'name': 'Rachelle Lefevre', 'rating': 699}
212
{'name': 'Patrick Wilson', 'rating': 536}
213
{'name': 'Raquel Welch', 'rating': 523}
214
{'name': 'Emilia Clarke', 'rating': 1585}
215
{'name': 'Ralph Fiennes', 'rating': 601}
216
{'name': 'Michael Fassbender', 'rating': 817}
217
{'name': 'Shia LaBeouf', 'rating': 852}
218
{'name': 'Kim Dickens', 'rating': 503}
219
{'name': 'Simon Pegg', 'rating': 484}
220
{'name': 'Oliver Platt', 'rating': 586}
221
{'name': 'Sigourney Weaver', 'rating': 897}
222
{'name': 'Noah Taylor', 'rating': 455}
223
{'name': 'Jason Statham', 'rating': 1719}
224
{'name': 'Amber Heard', 'rating': 947}
225
{'name': 'Kristen Wiig', 'rating': 659}
226
{'name': '50 Cent', 'rating': 585}
227
{'name': 'Elisha Cuthbert', 'rating': 569}
228
{'name': 'Peter Stormare', 'rating': 503}
229
{'name': 'Ernest Borgnine', 'rating': 564}
230
{'name': 'Sandra Bullock', 'rating': 725}
231
{'name': 'Mickey Rourke', 'rating': 623}
232
{'name': 'Mandy Moore', 'rating': 483}
233
{'name': 'Nicole Kidman', 'rating': 697}
234
{'name': 'Keanu Reeves', 'rating': 819}
235
{'name': 'Jude Law', 'rating': 881}
236
{'name': 'Katy Mixon', 'rating': 746}
237
{'name': 'Dominic Purcell', 'rating': 569}
238
{'name': 'Garrett Hedlund', 'rating': 531}
239
{'name': 'Heather Graham', 'rating': 469}
240
{'name': 'Lena Headey', 'rating': 659}
241
{'name': 'Natalie Portman', 'rating': 686}
242
{'name': 'Robin Tunney', 'rating': 587}
243
{'name': 'Natalie Martinez', 'rating': 685}
244
{'name': 'Christopher Walken', 'rating': 496}
245
{'name': 'Christopher Lloyd', 'rating': 523}
246
{'name': 'Christian Bale', 'rating': 1006}
247
{'name': 'Eric Bana', 'rating': 496}
248
{'name': 'Cary Guffey', 'rating': 613}
249
{'name': 'Johnny Depp', 'rating': 1250}
250
{'name': 'Shannon Tweed', 'rating': 526}
251
{'name': 'Nikolaj Lie Kaas', 'rating': 485}
252
{'name': 'Justin Timberlake', 'rating': 829}
253
{'name': 'Jake McDorman', 'rating': 462}
254
{'name': 'Emmanuelle Chriqui', 'rating': 544}
255
{'name': 'Leonard Nimoy', 'rating': 814}
256
{'name': 'James McAvoy', 'rating': 506}
257
{'name': 'David Hemmings', 'rating': 496}
258
{'name': 'Pierce Brosnan', 'rating': 749}
259
{'name': 'Anthony Hopkins', 'rating': 1050}
260
{'name': 'Shailene Woodley', 'rating': 570}
261
{'name': 'John C. Reilly', 'rating': 506}
262
{'name': 'Ed Harris', 'rating': 484}
263
{'name': 'Rachael Leigh Cook', 'rating': 535}
264
{'name': 'Steven Spielberg', 'rating': 802}
265
{'name': 'Ryan Reynolds', 'rating': 682}
266
{'name': 'Toni Collette', 'rating': 455}
267
{'name': 'Kim Cattrall', 'rating': 521}
268
{'name': 'Armand Assante', 'rating': 479}
269
{'name': 'Channing Tatum', 'rating': 656}
270
{'name': 'Gaspard Ulliel', 'rating': 615}
271
{'name': 'Laura Harring', 'rating': 517}
272
{'name': 'Dakota Blue Richards', 'rating': 547}
273
{'name': 'Scarlett Johansson', 'rating': 2128}
274
{'name': 'Mae Whitman', 'rating': 464}
275
{'name': 'Vin Diesel', 'rating': 840}
276
{'name': 'Paul McGann', 'rating': 508}
277
{'name': 'Jessica Chastain', 'rating': 575}
278
{'name': 'Dennis Chan', 'rating': 504}
279
{'name': 'Cliff Curtis', 'rating': 537}
280
{'name': 'Vanessa Hudgens', 'rating': 478}
281
{'name': 'John Russell', 'rating': 492}
282
{'name': 'Ethan Hawke', 'rating': 575}
283
{'name': 'Emmy Rossum', 'rating': 485}
284
{'name': 'Terrence Howard', 'rating': 496}
285
{'name': 'Chloë Grace Moretz', 'rating': 1266}
286
{'name': 'Ben Chaplin', 'rating': 365}
287
{'name': 'Julia Roberts', 'rating': 625}
288
{'name': 'Nick Nolte', 'rating': 720}
289
{'name': 'Tim Roth', 'rating': 456}
290
{'name': 'Robin Wright', 'rating': 503}
291
{'name': 'Ben Stiller', 'rating': 906}
292
{'name': 'Clive Owen', 'rating': 572}
293
{'name': 'Jamie Lee Curtis', 'rating': 669}
294
{'name': 'Viola Davis', 'rating': 542}
295
{'name': 'Elizabeth Banks', 'rating': 700}
296
{'name': 'Samuel L. Jackson', 'rating': 1034}
297
{'name': 'Thomas Kretschmann', 'rating': 496}
298
{'name': 'Mila Kunis', 'rating': 665}
299
{'name': 'Jeremy Renner', 'rating': 858}
300
{'name': 'Nina Dobrev', 'rating': 676}
301
{'name': 'Geoffrey Rush', 'rating': 511}
302
{'name': 'Whoopi Goldberg', 'rating': 457}
303
{'name': 'Paul Walker', 'rating': 969}
304
{'name': 'Seth Rogen', 'rating': 543}
305
{'name': 'Eddie Redmayne', 'rating': 665}
306
{'name': 'Hugh Jackman', 'rating': 746}
307
{'name': 'Kristen Bell', 'rating': 562}
308
{'name': 'Jon Bernthal', 'rating': 516}
309
{'name': 'Chris Pine', 'rating': 621}
310
{'name': "J. Pat O'Malley", 'rating': 554}
311
{'name': 'Rosanna Arquette', 'rating': 615}
312
{'name': 'Brendan Gleeson', 'rating': 575}
313
{'name': 'Jaime Pressly', 'rating': 494}
314
{'name': 'Logan Lerman', 'rating': 515}
315
{'name': 'Ron Perlman', 'rating': 613}
316
{'name': 'Angie Harmon', 'rating': 496}
317
{'name': 'Morgan Freeman', 'rating': 748}
318
{'name': 'Liam Neeson', 'rating': 902}
319
{'name': 'Sam Neill', 'rating': 649}
320
{'name': 'Rebecca Hall', 'rating': 555}
321
{'name': 'Amanda Seyfried', 'rating': 663}
322
{'name': 'Selma Blair', 'rating': 790}
323
{'name': 'Rosamund Pike', 'rating': 1013}
324
{'name': 'Dwayne Johnson', 'rating': 1568}
325
{'name': 'Julie Andrews', 'rating': 517}
326
{'name': 'Ashley Benson', 'rating': 1028}
327
{'name': 'Angelina Jolie', 'rating': 700}
328
{'name': 'Jet Li', 'rating': 464}
329
{'name': 'Tony Curtis', 'rating': 455}
330
{'name': 'Tobey Maguire', 'rating': 457}
331
{'name': 'Paul Giamatti', 'rating': 730}
332
{'name': 'Nicolas Cage', 'rating': 789}
333
{'name': 'Beau Bridges', 'rating': 516}
334
{'name': 'Clint Eastwood', 'rating': 765}
335
{'name': 'Lee Majors', 'rating': 734}
336
{'name': 'Anne Hathaway', 'rating': 709}
337
{'name': 'Linda Hamilton', 'rating': 648}
338
{'name': 'Zoe Saldana', 'rating': 846}
339
{'name': 'James Purefoy', 'rating': 535}
340
{'name': 'Ellen Page', 'rating': 498}
341
{'name': 'Alona Tal', 'rating': 520}
342
{'name': 'Hayley Atwell', 'rating': 526}
343
{'name': 'Donald Sutherland', 'rating': 746}
344
{'name': 'Emily Blunt', 'rating': 603}
345
{'name': 'Ryan Gosling', 'rating': 680}
346
{'name': 'Lisa Kudrow', 'rating': 493}
347
{'name': 'Kristen Stewart', 'rating': 842}
348
{'name': 'Jon Hamm', 'rating': 727}
349
{'name': 'Bianca Haase', 'rating': 469}
350
{'name': 'John Cho', 'rating': 332}
351
{'name': 'Ariadne Shaffer', 'rating': 825}
352
{'name': 'Natalie Dormer', 'rating': 806}
353
{'name': 'Rachel Weisz', 'rating': 1156}
354
{'name': 'Ann-Margret', 'rating': 473}
355
{'name': 'Tom Wilkinson', 'rating': 515}
356
{'name': 'Alice Eve', 'rating': 560}
357
{'name': 'Charlotte Gainsbourg', 'rating': 542}
358
{'name': 'Laurence Fishburne', 'rating': 571}
359
{'name': 'Bill Murray', 'rating': 640}
360
{'name': 'Tim Robbins', 'rating': 489}
361
{'name': 'Cate Blanchett', 'rating': 723}
362
{'name': 'Tom Hardy', 'rating': 1279}
363
{'name': 'Jordana Brewster', 'rating': 1030}
364
{'name': 'Winona Ryder', 'rating': 755}
365
{'name': 'Dave Bautista', 'rating': 473}
366
{'name': 'James Marsden', 'rating': 489}
367
{'name': 'Claudia Cardinale', 'rating': 562}
368
{'name': 'Eric Roberts', 'rating': 901}
369
{'name': 'Louise Fletcher', 'rating': 658}
370
{'name': 'Michelle Monaghan', 'rating': 917}
371
{'name': 'Viggo Mortensen', 'rating': 555}
372
{'name': 'Richard Widmark', 'rating': 483}
373

{'name': 'Alexandra Daddario', 'rating': 1056}
374
{'name': 'Robert Duvall', 'rating': 490}
375
{'name': 'Amy Adams', 'rating': 960}
376
{'name': 'Jim Broadbent', 'rating': 509}
377
{'name': 'Kristanna Loken', 'rating': 592}
378
{'name': 'Richard Harris', 'rating': 459}
379
{'name': 'Hayden Christensen', 'rating': 698}
380
{'name': 'Daniel Craig', 'rating': 643}
381
{'name': 'Bruce Willis', 'rating': 747}
382
{'name': 'Richard Madden', 'rating': 582}
383
{'name': 'Melissa McCarthy', 'rating': 471}
384
{'name': 'Eddie Murphy', 'rating': 592}
385
{'name': 'Adam Sandler', 'rating': 971}
386
{'name': 'Chris Evans', 'rating': 947}
387
{'name': 'Liana Liberato', 'rating': 596}
388
{'name': 'Jodie Foster', 'rating': 523}
389
{'name': 'Louis C.K.', 'rating': 507}
390
{'name': 'Lucy Hale', 'rating': 617}
391
{'name': "Maureen O'Hara", 'rating': 492}
392
{'name': 'Ashton Kutcher', 'rating': 462}
393
{'name': 'Mads Mikkelsen', 'rating': 494}
394
{'name': 'Sam Worthington', 'rating': 553}
395
{'name': 'Jake Gyllenhaal', 'rating': 1312}
396
{'name': 'Dan Duryea', 'rating': 542}
397
{'name': "Jodi Lyn O'Keefe", 'rating': 873}
398
{'name': 'Kellan Lutz', 'rating': 533}
399
{'name': 'Adam Baldwin', 'rating': 529}
400
{'name': 'Eva Green', 'rating': 529}
401
{'name': 'Chris Rock', 'rating': 464}
402
{'name': 'Norman Reedus', 'rating': 582}
403
{'name': 'Kaya Scodelario', 'rating': 549}
404
{'name': 'Alec Baldwin', 'rating': 656}
405
{'name': 'Kevin Spacey', 'rating': 598}
406
{'name': 'Will Ferrell', 'rating': 546}
407
{'name': 'Christina Hendricks', 'rating': 506}
408
{'name': 'Julianne Moore', 'rating': 932}
409
{'name': 'Tom Hanks', 'rating': 1392}
410
{'name': 'Helen Mirren', 'rating': 891}
411
{'name': 'Mark Ruffalo', 'rating': 768}
412
{'name': 'Owen Wilson', 'rating': 563}
413
{'name': 'Lauren Cohan', 'rating': 469}
414
{'name': 'Michelle Rodriguez', 'rating': 1439}
415
{'name': 'Karoline Herfurth', 'rating': 468}
416
{'name': 'Dennis Hopper', 'rating': 648}
417
{'name': 'Robert De Niro', 'rating': 514}
418
{'name': 'Bill Paxton', 'rating': 490}
419
{'name': 'Jeremy Sumpter', 'rating': 543}
420
{'name': 'Anne Bancroft', 'rating': 503}
421
{'name': 'Charlton Heston', 'rating': 518}
422
{'name': 'Lee Pace', 'rating': 513}
423
{'name': 'Woody Harrelson', 'rating': 563}
424
{'name': 'Margot Robbie', 'rating': 475}
425
{'name': "David O'Hara", 'rating': 548}
426
{'name': 'Marion Cotillard', 'rating': 741}
427
{'name': 'Emma Stone', 'rating': 686}
428
{'name': 'Edward Norton', 'rating': 937}
429
{'name': 'Rebecca Ferguson', 'rating': 737}
430
{'name': 'Alonna Shaw', 'rating': 717}
431
{'name': 'Ali Larter', 'rating': 516}
432
{'name': 'Selma Stern', 'rating': 460}
433
{'name': 'Peyton List', 'rating': 567}
434
{'name': 'Victor Mature', 'rating': 521}
435
{'name': 'Tyrese Gibson', 'rating': 559}
436
{'name': 'Mädchen Amick', 'rating': 477}
437
{'name': 'Sarah Wayne Callies', 'rating': 1223}
438
{'name': 'Kate Beckinsale', 'rating': 1030}
439
{'name': 'Harvey Keitel', 'rating': 596}
440
{'name': 'Emma Roberts', 'rating': 525}
441
{'name': 'James Spader', 'rating': 516}
442
{'name': 'Uma Thurman', 'rating': 550}
443
{'name': 'Philip Seymour Hoffman', 'rating': 734}
444
{'name': 'Kevin Hart', 'rating': 491}
445

In [6]:
data.head()

,title,genre,directors,writers,actors,studio_name,tomato_rating,audience_rating
0,Percy Jackson & the Olympians: The Lightning T...,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",20th Century Fox,49,53.0
1,Please Give,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",Sony Pictures Classics,86,64.0
2,10,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",Waner Bros.,68,53.0
3,12 Angry Men (Twelve Angry Men),"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",Criterion Collection,100,97.0
4,"20,000 Leagues Under The Sea","Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",Disney,89,74.0

In [7]:
uniqueValues = df_final['studio_name'].unique().tolist()
uniqueValues[0]

for i in range(len(df_final)):
    df_final['studio_name'].iloc[i] = uniqueValues.index(df_final['studio_name'].iloc[i])

C:\Users\drago\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [8]:
df_final.head()

,title,genre,directors,writers,actors,studio_name,tomato_rating,audience_rating,budget,genres
0,Percy Jackson & the Olympians: The Lightning T...,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",0,49,53.0,95000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""..."
1,Please Give,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",1,86,64.0,3000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam..."
2,3:10 to Yuma,"Classics, Drama, Western",Delmer Daves,Halsted Welles,"Glenn Ford, Van Heflin, Felicia Farr, Leora Da...",2,96,78.0,55000000,"[{""id"": 37, ""name"": ""Western""}]"
3,3:10 to Yuma,"Action & Adventure, Drama, Western",James Mangold,"Derek Haas, Halsted Welles, Michael Brandt","Russell Crowe, Christian Bale, Logan Lerman, D...",3,89,86.0,55000000,"[{""id"": 37, ""name"": ""Western""}]"
4,Dark Water,"Art House & International, Horror, Mystery & S...",Hideo Nakata,"Hideo Hakata, Takashige Ichise, Yoshihiro Naka...","Hitomi Kuroki, Rio Kanno, Shigemitsu Ogi, Mire...",4,80,66.0,30000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name..."

In [9]:
uniqueValues = df_final['studio_name'].unique()
uniqueValues.shape

(547,)

In [10]:
actorsList
actorsAndRating[0]['rating']
dfActorsAndRating = pd.DataFrame(actorsAndRating)

dfActorsAndRating
# for i in range(len(actorsList)):
#     try:
#         for j in range(len(actorsList[i])):
#             if(actorsList[i] == actorsAndRating[j]['name']):
#                 listOfRatingFilm.append(actorsAndRating[j]['rating'])
#     except KeyError:
#         continue

for i in range(len(df_final)):
    temp = df_final['actors'].iloc[i].split(', ')
    sumAct = 0
    counter = 0
 #   print(temp)
    for j in range(len(temp)):
        if(len(dfActorsAndRating[dfActorsAndRating['name'] == temp[j]]) > 0):
            counter+=1
            sumAct = sumAct + dfActorsAndRating[dfActorsAndRating['name'] == temp[j]]['rating'].iloc[0]
    if(counter > 0):
        #print(sumAct/counter)
        df_final['actors'].iloc[i] = sumAct/counter
    else:
        df_final['actors'].iloc[i] = 0

        
df_final.head()

C:\Users\drago\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,title,genre,directors,writers,actors,studio_name,tomato_rating,audience_rating,budget,genres
0,Percy Jackson & the Olympians: The Lightning T...,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,647.667,0,49,53.0,95000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""..."
1,Please Give,Comedy,Nicole Holofcener,Nicole Holofcener,570.5,1,86,64.0,3000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam..."
2,3:10 to Yuma,"Classics, Drama, Western",Delmer Daves,Halsted Welles,0,2,96,78.0,55000000,"[{""id"": 37, ""name"": ""Western""}]"
3,3:10 to Yuma,"Action & Adventure, Drama, Western",James Mangold,"Derek Haas, Halsted Welles, Michael Brandt",760.5,3,89,86.0,55000000,"[{""id"": 37, ""name"": ""Western""}]"
4,Dark Water,"Art House & International, Horror, Mystery & S...",Hideo Nakata,"Hideo Hakata, Takashige Ichise, Yoshihiro Naka...",0,4,80,66.0,30000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name..."

In [11]:
import numpy as np

trainedSet = df_final.drop(columns=['title', 'genre', 'directors', 'writers', 'genres', 'tomato_rating'])
trainedSet = trainedSet[trainedSet['actors'] > 0]
trainedSet['budget'] = trainedSet['budget']/1000
#trainedSet = trainedSet.astype({'actors':'int64'})
trainedSet

       actors studio_name  audience_rating   budget
0     647.667           0             53.0  95000.0
1       570.5           1             64.0   3000.0
3       760.5           3             86.0  55000.0
5       628.5           5             28.0  30000.0
6         640           6             64.0   9600.0
...       ...         ...              ...      ...
3915      766           2             41.0  80000.0
3916  698.375          20             80.0  28000.0
3917    668.5          20             20.0  50000.0
3918      585          80             33.0  35000.0
3919      809          20             91.0  16000.0

[2756 rows x 4 columns]

In [12]:
y = trainedSet['audience_rating']
X = trainedSet.drop(columns=['audience_rating'])

X = np.asarray(X)
y = np.asarray(y)

In [13]:
from sklearn.svm import SVR
import numpy as np


clf = SVR(C=5.0, epsilon=0.1, gamma='auto')
clf.fit(X, y)

SVR(C=5.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [14]:
pred = clf.predict(X[0:10]).round(1)
pred/10

array([5.7 , 6.39, 6.7 , 5.7 , 6.39, 5.7 , 5.71, 5.7 , 6.7 , 5.7 ])

In [15]:
y[0:10]/10

array([5.3, 6.4, 8.6, 2.8, 6.4, 3.5, 5.7, 4.7, 7.9, 5.2])

In [16]:
import tensorflow
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras.optimizers import SGD
import tensorflow.keras.optimizers 
#sgd = optimizers.SGD(lr=0.01, decay=1e-6, momentum=0.9, nesterov=True)

model = models.Sequential()
model.add(layers.Dense(2, activation = 'relu', input_shape = (3,)))
model.add(layers.Dense(1, activation = 'sigmoid'))

y = trainedSet['audience_rating']/100
y
X = trainedSet.drop(columns=['audience_rating'])
X = np.asarray(X)
y = np.asarray(y)
X

array([[647.6666666666666, 0, 95000.0],
       [570.5, 1, 3000.0],
       [760.5, 3, 55000.0],
       ...,
       [668.5, 20, 50000.0],
       [585.0, 80, 35000.0],
       [809.0, 20, 16000.0]], dtype=object)

In [17]:
model.compile(optimizer = 'adam',
              loss = 'binary_crossentropy',
              metrics = ['acc'])

history_firstModel = model.fit(X, 
                    y,
                    epochs = 50, batch_size = 64)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type numpy.float64).

In [18]:

df_movies = pd.read_csv('tmdb_5000_movies.csv')
df_movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [19]:
df_movies = df_movies.drop(columns=['id', 'budget', 'overview','genres', 'homepage', 'keywords', 'original_language', 'original_title', 'production_countries','production_companies', 'release_date', 'spoken_languages', 'status', 'tagline'])

In [20]:
df_movies

,popularity,revenue,runtime,title,vote_average,vote_count
0,150.437577,2787965087,162.0,Avatar,7.2,11800
1,139.082615,961000000,169.0,Pirates of the Caribbean: At World's End,6.9,4500
2,107.376788,880674609,148.0,Spectre,6.3,4466
3,112.312950,1084939099,165.0,The Dark Knight Rises,7.6,9106
4,43.926995,284139100,132.0,John Carter,6.1,2124
...,...,...,...,...,...,...
4798,14.269792,2040920,81.0,El Mariachi,6.6,238
4799,0.642552,0,85.0,Newlyweds,5.9,5
4800,1.444476,0,120.0,"Signed, Sealed, Delivered",7.0,6
4801,0.857008,0,98.0,Shanghai Calling,5.7,7
4802,1.929883,0,90.0,My Date with Drew,6.3,16

In [21]:
dfs = [df_movies, df_final]
#merging the movies dataset with the budget dataset based on title
df_movies_final = reduce(lambda left,right: pd.merge(left,right,on='title'), dfs)

In [22]:
df_movies_final.head()

,popularity,revenue,runtime,title,vote_average,vote_count,genre,directors,writers,actors,studio_name,tomato_rating,audience_rating,budget,genres
0,150.437577,2787965087,162.0,Avatar,7.2,11800,"Action & Adventure, Comedy, Mystery & Suspense...",James Cameron,James Cameron,933.75,0,82,82.0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
1,107.376788,880674609,148.0,Spectre,6.3,4466,Action & Adventure,Sam Mendes,"Ian Fleming (II), John Logan, Neal Purvis, Rob...",1131.5,13,63,61.0,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
2,112.312950,1084939099,165.0,The Dark Knight Rises,7.6,9106,"Action & Adventure, Drama, Mystery & Suspense",Christopher Nolan,"Christopher Nolan, Jonathan Nolan, Bob Kane",840.875,8,87,90.0,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam..."
3,43.926995,284139100,132.0,John Carter,6.1,2124,"Action & Adventure, Horror, Kids & Family, Sci...","Andrew Stanton, Mark Atkins","Mark Atkins, Mark Andrews, Michael Chabon, And...",551.5,26,52,60.0,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
4,115.699814,890871626,139.0,Spider-Man 3,5.9,3576,"Action & Adventure, Mystery & Suspense, Scienc...",Sam Raimi,"Alvin Sargent, Ivan Raimi, Sam Raimi, Stan Lee",671.667,13,63,51.0,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na..."

In [23]:
import numpy as np

trainedSet = df_movies_final.drop(columns=['title', 'genre', 'directors', 'writers', 'genres','studio_name','tomato_rating'])
trainedSet = trainedSet[trainedSet['actors'] > 0]
trainedSet = trainedSet[trainedSet['revenue'] > 0]
#trainedSet['budget'] = trainedSet['budget']/10000
#trainedSet['revenue'] = trainedSet['revenue']/10000
trainedSet = trainedSet.astype({'actors':'int64'})
trainedSet = trainedSet.astype({'popularity':'int64'})
trainedSet = trainedSet.astype({'revenue':'int64'})
trainedSet = trainedSet.astype({'runtime':'int64'})
trainedSet = trainedSet.astype({'vote_average':'int64'})
trainedSet = trainedSet.astype({'audience_rating':'int64'})
trainedSet = trainedSet.astype({'budget':'int64'})
trainedSet

,popularity,revenue,runtime,vote_average,vote_count,actors,audience_rating,budget
0,150,2787965087,162,7,11800,933,82,237000000
1,107,880674609,148,6,4466,1131,61,245000000
2,112,1084939099,165,7,9106,840,90,250000000
3,43,284139100,132,6,2124,551,60,260000000
4,115,890871626,139,5,3576,671,51,258000000
...,...,...,...,...,...,...,...,...
3763,33,100000000,93,6,1213,519,70,400000
3764,13,4505922,94,6,253,469,89,200000
3775,8,2891288,78,5,19,741,57,150000
3780,12,3200000,90,6,137,603,66,125000
3800,27,600896,95,5,631,571,38,4000000

In [24]:
import tensorflow
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras.optimizers import SGD
import tensorflow.keras.optimizers 
#sgd = optimizers.SGD(lr=0.01, decay=1e-6, momentum=0.9, nesterov=True)

model = models.Sequential()
model.add(layers.Dense(2, activation = 'relu', input_shape = (7,)))
model.add(layers.Dense(1, activation = 'sigmoid'))
pd.options.display.float_format = '{:.4f}'.format

y = trainedSet['audience_rating']
y
X = trainedSet.drop(columns=['audience_rating'])
X = np.asarray(X)
y = np.asarray(y)
X

array([[       150, 2787965087,        162, ...,      11800,        933,
         237000000],
       [       107,  880674609,        148, ...,       4466,       1131,
         245000000],
       [       112, 1084939099,        165, ...,       9106,        840,
         250000000],
       ...,
       [         8,    2891288,         78, ...,         19,        741,
            150000],
       [        12,    3200000,         90, ...,        137,        603,
            125000],
       [        27,     600896,         95, ...,        631,        571,
           4000000]], dtype=int64)

In [25]:
model.compile(optimizer = 'Adam',
              loss = 'binary_crossentropy',
              metrics = ['acc'])

history_firstModel = model.fit(X, 
                    y,
                    epochs = 100, batch_size = 64)

Train on 2298 samples
Epoch 1/100
2298/2298 [==============================] - 2s 701us/sample - loss: -7641932182.8372 - acc: 0.0000e+00
Epoch 2/100
2298/2298 [==============================] - 0s 15us/sample - loss: -8355849142.0296 - acc: 0.0000e+00
Epoch 3/100
2298/2298 [==============================] - 0s 15us/sample - loss: -9111218159.5126 - acc: 0.0000e+00
Epoch 4/100
2298/2298 [==============================] - 0s 16us/sample - loss: -9919722168.0348 - acc: 0.0000e+00
Epoch 5/100
2298/2298 [==============================] - 0s 14us/sample - loss: -10770517729.9217 - acc: 0.0000e+00
Epoch 6/100
2298/2298 [==============================] - 0s 14us/sample - loss: -11678199175.2411 - acc: 0.0000e+00
Epoch 7/100
2298/2298 [==============================] - 0s 15us/sample - loss: -12642345948.3516 - acc: 0.0000e+00
Epoch 8/100
2298/2298 [==============================] - 0s 16us/sample - loss: -13652569668.1775 - acc: 0.0000e+00
Epoch 9/100
2298/2298 [==============================] - 0s 14us/sample - loss: -14710986537.2185 - acc: 0.0000e+00
Epoch 10/100
2298/2298 [==============================] - 0s 14us/sample - loss: -15840209869.2010 - acc: 0.0000e+00
Epoch 11/100
2298/2298 [==============================] - 0s 14us/sample - loss: -17008640837.7372 - acc: 0.0000e+00
Epoch 12/100
2298/2298 [==============================] - 0s 14us/sample - loss: -18240111552.7241 - acc: 0.0000e+00
Epoch 13/100
2298/2298 [==============================] - 0s 13us/sample - loss: -19522210390.8929 - acc: 0.0000e+00
Epoch 14/100
2298/2298 [==============================] - 0s 14us/sample - loss: -20866980401.4621 - acc: 0.0000e+00
Epoch 15/100
2298/2298 [==============================] - 0s 16us/sample - loss: -22275896850.2698 - acc: 0.0000e+00
Epoch 16/100
2298/2298 [==============================] - 0s 14us/sample - loss: -23733995336.4108 - acc: 0.0000e+00
Epoch 17/100
2298/2298 [==============================] - 0s 14us/sample - loss: -25248087923.1889 - acc: 0.0000e+00
Epoch 18/100
2298/2298 [==============================] - 0s 14us/sample - loss: -26831873759.2480 - acc: 0.0000e+00
Epoch 19/100
2298/2298 [==============================] - 0s 15us/sample - loss: -28458850352.1253 - acc: 0.0000e+00
Epoch 20/100
2298/2298 [==============================] - 0s 13us/sample - loss: -30164995058.6319 - acc: 0.0000e+00
Epoch 21/100
2298/2298 [==============================] - 0s 13us/sample - loss: -31903895797.9739 - acc: 0.0000e+00
Epoch 22/100
2298/2298 [==============================] - 0s 13us/sample - loss: -33729121177.5109 - acc: 0.0000e+00
Epoch 23/100
2298/2298 [==============================] - 0s 15us/sample - loss: -35595153810.8268 - acc: 0.0000e+00
Epoch 24/100
2298/2298 [==============================] - 0s 22us/sample - loss: -37526916877.5910 - acc: 0.0000e+00
Epoch 25/100
2298/2298 [==============================] - 0s 16us/sample - loss: -39520691815.8259 - acc: 0.0000e+00
Epoch 26/100
2298/2298 [==============================] - 0s 14us/sample - loss: -41576026340.1497 - acc: 0.0000e+00
Epoch 27/100
2298/2298 [==============================] - 0s 16us/sample - loss: -43669684837.1523 - acc: 0.0000e+00
Epoch 28/100
2298/2298 [==============================] - 0s 48us/sample - loss: -45846004531.9130 - acc: 0.0000e+00
Epoch 29/100
2298/2298 [==============================] - 0s 13us/sample - loss: -48053535796.5814 - acc: 0.0000e+00
Epoch 30/100
2298/2298 [==============================] - 0s 13us/sample - loss: -50349782927.7076 - acc: 0.0000e+00
Epoch 31/100
2298/2298 [==============================] - 0s 14us/sample - loss: -52687658829.7580 - acc: 0.0000e+00
Epoch 32/100
2298/2298 [==============================] - 0s 16us/sample - loss: -55065825468.9365 - acc: 0.0000e+00
Epoch 33/100
2298/2298 [==============================] - 0s 14us/sample - loss: -57525945499.9617 - acc: 0.0000e+00
Epoch 34/100
2298/2298 [==============================] - 0s 13us/sample - loss: -60040126228.7206 - acc: 0.0000e+00
Epoch 35/100
2298/2298 [==============================] - 0s 14us/sample - loss: -62604797408.3621 - acc: 0.0000e+00
Epoch 36/100
2298/2298 [==============================] - 0s 16us/sample - loss: -65224610594.0888 - acc: 0.0000e+00
Epoch 37/100
2298/2298 [==============================] - 0s 14us/sample - loss: -67900940562.4926 - acc: 0.0000e+00
Epoch 38/100
2298/2298 [==============================] - 0s 14us/sample - loss: -70631457217.1697 - acc: 0.0000e+00
Epoch 39/100
2298/2298 [==============================] - 0s 13us/sample - loss: -73424380645.4865 - acc: 0.0000e+00
Epoch 40/100
2298/2298 [==============================] - 0s 15us/sample - loss: -76265757115.8224 - acc: 0.0000e+00
Epoch 41/100
2298/2298 [==============================] - 0s 13us/sample - loss: -79150791370.7502 - acc: 0.0000e+00
Epoch 42/100
2298/2298 [==============================] - 0s 13us/sample - loss: -82110274781.9112 - acc: 0.0000e+00
Epoch 43/100
2298/2298 [==============================] - 0s 13us/sample - loss: -85112039315.2724 - acc: 0.0000e+00
Epoch 44/100
2298/2298 [==============================] - 0s 14us/sample - loss: -88177700817.6571 - acc: 0.0000e+00
Epoch 45/100
2298/2298 [==============================] - 0s 13us/sample - loss: -91253112910.4265 - acc: 0.0000e+00
Epoch 46/100
2298/2298 [==============================] - 0s 13us/sample - loss: -94456772239.0392 - acc: 0.0000e+00
Epoch 47/100
2298/2298 [==============================] - 0s 14us/sample - loss: -97646173666.1445 - acc: 0.0000e+00
Epoch 48/100
2298/2298 [==============================] - 0s 17us/sample - loss: -100934593850.5970 - acc: 0.0000e+00
Epoch 49/100
2298/2298 [==============================] - 0s 15us/sample - loss: -104226857309.3542 - acc: 0.0000e+00
Epoch 50/100
2298/2298 [==============================] - 0s 13us/sample - loss: -107600377879.1714 - acc: 0.0000e+00
Epoch 51/100
2298/2298 [==============================] - 0s 13us/sample - loss: -111017788710.9904 - acc: 0.0000e+00
Epoch 52/100
2298/2298 [==============================] - 0s 14us/sample - loss: -114484550646.1967 - acc: 0.0000e+00
Epoch 53/100
2298/2298 [==============================] - 0s 13us/sample - loss: -117986394311.6310 - acc: 0.0000e+00
Epoch 54/100
2298/2298 [==============================] - 0s 13us/sample - loss: -121560597506.6736 - acc: 0.0000e+00
Epoch 55/100
2298/2298 [==============================] - 0s 13us/sample - loss: -125174430496.3064 - acc: 0.0000e+00
Epoch 56/100
2298/2298 [==============================] - 0s 13us/sample - loss: -128820025245.9669 - acc: 0.0000e+00
Epoch 57/100
2298/2298 [==============================] - 0s 15us/sample - loss: -132532510456.2019 - acc: 0.0000e+00
Epoch 58/100
2298/2298 [==============================] - 0s 14us/sample - loss: -136259775617.2254 - acc: 0.0000e+00
Epoch 59/100
2298/2298 [==============================] - 0s 14us/sample - loss: -140072946246.8512 - acc: 0.0000e+00
Epoch 60/100
2298/2298 [==============================] - 0s 13us/sample - loss: -143906272319.2759 - acc: 0.0000e+00
Epoch 61/100
2298/2298 [==============================] - 0s 13us/sample - loss: -147813600092.9086 - acc: 0.0000e+00
Epoch 62/100
2298/2298 [==============================] - 0s 13us/sample - loss: -151731964166.0157 - acc: 0.0000e+00
Epoch 63/100
2298/2298 [==============================] - 0s 13us/sample - loss: -155719160831.1088 - acc: 0.0000e+00
Epoch 64/100
2298/2298 [==============================] - 0s 13us/sample - loss: -159764479572.2193 - acc: 0.0000e+00
Epoch 65/100
2298/2298 [==============================] - 0s 13us/sample - loss: -163828406915.4534 - acc: 0.0000e+00
Epoch 66/100
2298/2298 [==============================] - 0s 14us/sample - loss: -167939129344.0000 - acc: 0.0000e+00
Epoch 67/100
2298/2298 [==============================] - 0s 14us/sample - loss: -172143457671.2411 - acc: 0.0000e+00
Epoch 68/100
2298/2298 [==============================] - 0s 14us/sample - loss: -176312180728.8703 - acc: 0.0000e+00
Epoch 69/100
2298/2298 [==============================] - 0s 15us/sample - loss: -180572023124.4421 - acc: 0.0000e+00
Epoch 70/100

2298/2298 [==============================] - 0s 13us/sample - loss: -184866657992.0766 - acc: 0.0000e+00
Epoch 71/100
2298/2298 [==============================] - 0s 13us/sample - loss: -189215758394.8199 - acc: 0.0000e+00
Epoch 72/100
2298/2298 [==============================] - 0s 15us/sample - loss: -193595499002.2071 - acc: 0.0000e+00
Epoch 73/100
2298/2298 [==============================] - 0s 13us/sample - loss: -198023566577.5179 - acc: 0.0000e+00
Epoch 74/100
2298/2298 [==============================] - 0s 14us/sample - loss: -202496546361.4830 - acc: 0.0000e+00
Epoch 75/100
2298/2298 [==============================] - 0s 14us/sample - loss: -206996664523.1958 - acc: 0.0000e+00
Epoch 76/100
2298/2298 [==============================] - 0s 15us/sample - loss: -211570237661.0200 - acc: 0.0000e+00
Epoch 77/100
2298/2298 [==============================] - 0s 13us/sample - loss: -216168264439.3107 - acc: 0.0000e+00
Epoch 78/100
2298/2298 [==============================] - 0s 13us/sample - loss: -220809474023.0461 - acc: 0.0000e+00
Epoch 79/100
2298/2298 [==============================] - 0s 14us/sample - loss: -225469618320.3760 - acc: 0.0000e+00
Epoch 80/100
2298/2298 [==============================] - 0s 13us/sample - loss: -230240507164.2959 - acc: 0.0000e+00
Epoch 81/100
2298/2298 [==============================] - 0s 14us/sample - loss: -235000651141.4587 - acc: 0.0000e+00
Epoch 82/100
2298/2298 [==============================] - 0s 13us/sample - loss: -239776095222.1967 - acc: 0.0000e+00
Epoch 83/100
2298/2298 [==============================] - 0s 14us/sample - loss: -244660687785.5526 - acc: 0.0000e+00
Epoch 84/100
2298/2298 [==============================] - 0s 13us/sample - loss: -249547777604.1775 - acc: 0.0000e+00
Epoch 85/100
2298/2298 [==============================] - 0s 14us/sample - loss: -254492072337.0444 - acc: 0.0000e+00
Epoch 86/100
2298/2298 [==============================] - 0s 13us/sample - loss: -259439792295.5474 - acc: 0.0000e+00
Epoch 87/100
2298/2298 [==============================] - 0s 13us/sample - loss: -264491698466.5344 - acc: 0.0000e+00
Epoch 88/100
2298/2298 [==============================] - 0s 13us/sample - loss: -269495034576.0975 - acc: 0.0000e+00
Epoch 89/100
2298/2298 [==============================] - 0s 13us/sample - loss: -274621065314.0331 - acc: 0.0000e+00
Epoch 90/100
2298/2298 [==============================] - 0s 12us/sample - loss: -279740708459.3907 - acc: 0.0000e+00
Epoch 91/100
2298/2298 [==============================] - 0s 13us/sample - loss: -284906656125.4377 - acc: 0.0000e+00
Epoch 92/100
2298/2298 [==============================] - 0s 13us/sample - loss: -290122678771.0775 - acc: 0.0000e+00
Epoch 93/100
2298/2298 [==============================] - 0s 13us/sample - loss: -295350845653.8903 - acc: 0.0000e+00
Epoch 94/100
2298/2298 [==============================] - 0s 13us/sample - loss: -300654446554.5692 - acc: 0.0000e+00
Epoch 95/100
2298/2298 [==============================] - 0s 13us/sample - loss: -305998196810.8616 - acc: 0.0000e+00
Epoch 96/100
2298/2298 [==============================] - 0s 14us/sample - loss: -311350763855.0948 - acc: 0.0000e+00
Epoch 97/100
2298/2298 [==============================] - 0s 14us/sample - loss: -316729474145.1418 - acc: 0.0000e+00
Epoch 98/100
2298/2298 [==============================] - 0s 14us/sample - loss: -322189922400.2506 - acc: 0.0000e+00
Epoch 99/100
2298/2298 [==============================] - 0s 12us/sample - loss: -327677219240.2158 - acc: 0.0000e+00
Epoch 100/100
2298/2298 [==============================] - 0s 13us/sample - loss: -333170808505.8172 - acc: 0.0000e+00

In [26]:
model.predict(X[0:10])

array([[1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.]], dtype=float32)

In [27]:
y[0:10]

array([82, 61, 90, 60, 51, 87, 83, 78, 63, 61], dtype=int64)

In [28]:
y = trainedSet['popularity']
y
X = trainedSet.drop(columns=['popularity'])
X = np.asarray(X)
y = np.asarray(y)

In [29]:
from sklearn.svm import SVR
import numpy as np


clf = SVR(C=1.0, epsilon=0.1, gamma='auto')
clf.fit(X, y)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [30]:
pred = clf.predict(X[0:10]).round(1)
pred

array([24.3, 24.3, 24.3, 24.3, 24.3, 24.3, 24.3, 24.3, 24.3, 24.3])

In [31]:
y[0:10]

array([150, 107, 112,  43, 115,  48, 134,  98, 155,  57], dtype=int64)